* {
    border-style: border-box;
    margin: 0;
    padding: 0;
}

canvas {
    background: url("/Users/geoffbishop/Momentum/build-a-game-gabishop35/cld07.jpeg");
    border: 2px navy solid;
    margin-left: .5rem;
}

.game-title {
    font-family: sans-serif;
    /* text-align: center; */
    font-style: italic;
    padding: .5rem;
    color: red
}